<mat-form-field [ngClass]="inputConfig.classes" [appearance]="inputConfig.appearance">
	<mat-label>{{ inputConfig.name | label }}</mat-label>
	<mat-icon *ngIf="inputConfig.matSuffix" matSuffix>{{ inputConfig.matSuffix }}</mat-icon>
	<mat-icon *ngIf="inputConfig.matPrefix" matPrefix>{{ inputConfig.matPrefix }}</mat-icon>
	<mat-hint *ngIf="inputConfig.hint">{{ inputConfig.hint }}</mat-hint>
	<input matInput type="text" [textMask]="{ mask: mask, guide: true, showMask: true }" [formControl]="inputConfig.formControl" [placeholder]="inputConfig.placeholder">
	<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
	<mat-error *ngFor="let error of errors">{{ error }}</mat-error>
</mat-form-field>

<mat-form-field class="input-date">
    <input matInput [matDatepicker]="picker" [formControl]="inputConfig.formControl">
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

