<mat-form-field [ngClass]="inputConfig.classes">
	<mat-icon *ngIf="inputConfig.matSuffix" matSuffix>{{ inputConfig.matSuffix }}</mat-icon>
	<mat-icon *ngIf="inputConfig.matPrefix" matPrefix>{{ inputConfig.matPrefix }}</mat-icon>
	<mat-hint *ngIf="inputConfig.hint">{{ inputConfig.hint }}</mat-hint>
	<mat-checkbox [formControl]="inputConfig.formControl" (change)="inputConfig.formControl.setValue(inputConfig.formControl.value)">{{ inputConfig.name | label }}</mat-checkbox>
	<input matInput type="text" [formControl]="inputConfig.formControl" [placeholder]="inputConfig.placeholder">
	<mat-error *ngFor="let error of errors">{{ error }}</mat-error>
</mat-form-field>

